/* Don't judge me on the css either <3 */

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#hero {
    height:650px;
    background-color: white;
    display: block;
}

/* HEADER STYLE */
/* HEADER STYLE */

header {
    height: 90px;
    background-color:#f55555;
    width: 100%;
    margin:0;
    display:block;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
}

    header img {
        height: 35px; 
        margin: 26px 0;
    }

    header ul {
        list-style:none;
        display: inline-block;
        float: right;
        margin: 33px 0;
    }

    header ul li {
        display: inline;
        margin: 0 30px;
        }

    header li a {
        text-transform: uppercase;
        color:white;
        font-weight: 700;
        letter-spacing: 5px;
        text-decoration: none;
        font-size: 13px;
        transition: opacity 1s, letter-spacing 1s;
    }

    header li a:hover {
        opacity:0.7;
    }

.container {
    width: 1000px;
    margin: 0 auto;
    height: auto;
    display: block;
    
}

/* HOMEPAGE CSS STARTS HERE */
/* HOMEPAGE CSS STARTS HERE */
/* HOMEPAGE CSS STARTS HERE */


/* HERO */

#info-box {
    width: 500px;
    float: left;
    text-align:left;
    padding: 5px;
    margin-top: 35px;
}

    #info-box button {
        border-radius: 3px;
        text-transform: uppercase;
        height: 70px;
        background-color:#f55555;
        color:white;
        font-weight: 700;
        box-shadow: 0 2px 2px rgba(0,0,0,.2);
        border:0;
        font-size: 14px;
        letter-spacing: 2px;
        transition: background-color 1s, opacity 1s;
        margin-top: 20px;
        opacity: 1;
    }

    #info-box button:hover {
        background-color: #c74949;
        cursor: pointer;
    }

    .mail img{
        background-repeat: no-repeat;
        width: 10%;
        vertical-align:middle
    }


    #animation {
        -webkit-animation-name: bounce; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
        -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
        -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
        animation-name: bounce;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @-webkit-keyframes bounce {
        0% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
        100% {
        -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
    }
        
    @keyframes bounce {
        0% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
        100% {
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

#iphone {
    width: 400px;
    float: right;
    display: inline;
    margin-bottom: 0;
    padding-bottom: 0;
    vertical-align: bottom;
    position: absolute;
    top: 120px;
    right: 60px;
}

    #iphone img {
        height: 530px;
    }

h1 {
    font-weight: 100;
    color: #333;
    font-size: 40px;
}

h2 {
    color: #afafaf;
    font-weight: 100;
    font-size: 23px;
    margin-top: -15px;
    line-height: 1.5;
}

h3 {
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 18px;
    text-align: center;
    padding: 30px 0;
    margin: 0;
}

/* SECOND SECTION */

#features {
    height: 550px;
    width: 100%;
    display: block;
    background-color: #ebebeb;
    z-index: 9999;
}

.third {
    width: 33%;
    display: inline-block;
    text-align: center;
    margin-bottom: 50px;
}

    .third h4 {
        color: #f55555;
        font-weight: 700;
        font-size: 19px;
        margin: 10px 0;
    }

    .third p {
        margin: 0 20px;
        color:#333;
    }

.feature-image {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-color: #333;
    margin: 15px auto;
    box-shadow: 0 2px 2px rgba(0,0,0,.4);
}

    .feature-image img {
        height: 60px;
        display: inline-block;
        margin: auto auto;
        padding: 65px;
        
    }

/* THIRD SECTION */

#team {
    background-color: #f55555;
    height: 300px;
    text-align:center;
}

    #team p {
        color: white;
        font-weight: 300;
        font-style: italic;
        font-size: 25px;
        margin: 0 10px;
        text-align: center;
        display: block;
    }

    #team-button {
        background-color:white;
        padding: 20px;
        display:block;
        width: 100px;
        text-decoration: none;
        text-align:center;
        margin: 30px auto;
        text-transform: uppercase;
        color: #f55555;
        font-weight: 700;
        box-shadow: 0 2px 2px rgba(0,0,0,.2);
        border:0;
        font-size: 14px;
        letter-spacing: 2px;
        border-radius: 3px;
        transition: background-color 1s;
    }

    #team-button:hover {
        background-color: #ebebeb;
    }

#footer {
    background-color: #333;
    height: 50px;
    text-align:center;
    padding: 50px;
}

    #footer img {
        height: 40px;
        opacity: 0.5;
        margin: 0 20px;
        transition: opacity 1s;
    }

    #footer img:hover {
        opacity: 1;
    }

/* MEDIA QUERIES */

@media (max-width: 1000px) {
    #info-box {
        text-align: center;
        margin: 10px;
        position: static;
        width:auto;
    }
    
    header {
     height: auto;   
    padding: 10px;
        width: 100%;
    }
    
    header ul li {
        display: block;
        margin: 15px;
    }
    
    header ul {
        margin:0;
        float: none;
    }
    
    header img {
        display: block;  
        margin: 0 auto;
    }
    
    .container {
        text-align:center;
        width: 100%;
    }
    
    #iphone {
        display: block;
        position: static !important;
        text-align: center;
        margin: 0 auto !important;
        float: none;
    }
    
    #hero {
        height: auto;
    }
    
    #features {
        height: auto;   
    }
    
    .third {
        width: 70%;
    }
    
    #team {
        height: 370px;
    }
    
    #footer {
        height: 200px;
        margin: 0;
        padding: 10px;
    }
    
    #footer img {
        display: block;
        margin: 20px auto;
    }
}

    

